<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">Sturdy Tribble</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            {% if ]request.user.is_staff or request.user.is_superuser %}<li><a href="{% url 'requests:list' %}">Requests</a></li> {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if not request.user.is_authenticated %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% else %}
              <li><p class="navbar-text">{{ request.user.username }}</p></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>