{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- TODO: add links for create and update book only for superuser or staff -->
    {% if books %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>ISBN</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.authors_info }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.price }}$</td>
                    <td>{% if request.user.is_staff %}<a href="{% url 'edit' book.pk %}">Edit</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Not exist any book at the moment</p>
    {% endif %}

    {% include 'partials/_paginator.html' with objects=books %}
{% endblock %}