{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}{% if object  %}Edit{% else %}Create{% endif %} Book{% endblock %}

{% block content %}
    <p><a href="{% url 'home' %}"><- Book list</a></p>
    <h3 class="text-center">{% if object  %}Edit{% else %}Create{% endif %} Book</h3>
    {% if object  %}
        {% include 'partials/_form.html' with submit_button_name='Update' %}
    {% else %}
        {% include 'partials/_form.html' with submit_button_name='Create' %}
    {% endif %}
{% endblock %}